NameVirtualHost *:80

<VirtualHost *:80>
    ServerName web-01.my-site.com
    ServerAlias my-site.com
    DocumentRoot /var/www/my-site.com/html
    ErrorLog /var/www/my-site.com/log/error.log
    CustomLog /var/www/my-site.com/log/requests.log combined
</VirtualHost>