NameVirtualHost *:80

<VirtualHost *:80>
    ServerName web-02.mynet-887.com
    ServerAlias www.mynet-8887.com
    DocumentRoot /var/nfs/www/mynet-887.com/html
    <Directory /var/nfs/www/mynet-887.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/mynet-887.com/log/error.log
    CustomLog "| /bin/sh -c '/var/nfs/www/mynet-887.com/log/requests.log | /usr/bin/logger -thttpd_mynet -plocal1.notice'" combined
</VirtualHost>