zone "mynet-887.com" {
    type master;
    file "/etc/named/zones/db.mynet-887.com"; # zone file path
};

zone "192.168.100.in-addr.arpa" {
    type master;
    file "/etc/named/zones/db.192.168.100"; 
};

zone "my-site.com" {
    type master;
    file "/etc/named/zones/db.my-site.com"; 
};